MONGODB_URI="mongodb+srv://your_mongodb_username:your_mongodb_password@cluster0.gtp2xef.mongodb.net"
MLFLOW_TRACKING_URI = "https://dagshub.com/DanielGeek/network-security.mlflow"
MLFLOW_TRACKING_USERNAME = "DanielGeek"
MLFLOW_TRACKING_PASSWORD = "your_mlflow_password"
